{# djlint:off H029, T003 #}
{% extends "base.html" %}
{% block content %}
  <form method="POST">
    {{ form.hidden_tag() }} <!-- protects against CSRF attacks-->
    {{ form.email.label }}{{ form.email }}
    <br>
    {{ form.username.label }}{{ form.username }}
    <br>
    {{ form.password.label }}{{ form.password }}
    <br>
    {{ form.confirm_password.label }}{{ form.confirm_password }}
    <br>
    {{ form.submit() }}
    <br>
  </form>
{% endblock %}
<!--
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
-->
